<!-- Toolbar 
<div class="toolbar" role="banner">
  <span style="margin-left: 10px;">BUG MAKERS</span>
  <div class="spacer"></div>
  <div id="div_top_hypers">
    <ul id="ul_top_hypers">
      <li><a href="" class="a_top_hypers"> PLACAS COMPARADAS </a></li>
      <li><a href="" class="a_top_hypers"> DATASET </a></li>
      <li><a href="" class="a_top_hypers"> CONTACT </a></li>
    </ul>
  </div>
</div>-->

<!--********************************************************************************************************************-->
<!--Primera parte-->
<div style="width: 100%; height: 100%; text-align: center; position: fixed; margin: 0px; display: flex;"
  *ngIf="primera">
  <div style="width:50%; float:left; height: 100%;">
    <img style="width: 100%; height: 100%;" src="../assets/architecture-asphalt-background-1837603.jpg" alt="">
  </div>
  <div style="width:50%; float:right; height: 100%; margin-top: 150px;">
    <h1 class="titulo">Reconocimiento de placas</h1>
    <h3 class="subtitulo">Selecciona una capeta</h3>
    <br>
    <form>
      <div class="form-group">
        <input #folderInput type="file" (change)="filesPicked(folderInput.files)" webkitDirectory>
      </div>
    </form>
    <br>
    <div class="form-group">
      <button class="btn primary" (click)="mostrarSiguiente()">
        Subir
      </button>
    </div>

  </div>
</div>

<!--********************************************************************************************************************-->
<!--Segunda parte-->

<div *ngIf="segunda">
  <div style="width: 100%; height: 100%; text-align: center;">
    <h1 class="titulo">Datos cargados</h1>
    <br>
    <div class="example-container mat-elevation-z8" style="width: 90%; margin-left: 50px;">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef> Imagen </th>
          <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"><img src="{{element.imagen}}" width="500px" height="300px" alt=""></td>
        </ng-container> 

        <ng-container matColumnDef="placa">
          <th mat-header-cell *matHeaderCellDef> Placa real </th>
          <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
        </ng-container>

        <ng-container matColumnDef="placaC">
          <th mat-header-cell *matHeaderCellDef> Placa comparada </th>
          <td mat-cell *matCellDef="let element"> {{element.placa}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <!--<div class="container" [style.height]="(items.length * rowHeight) + 'px'" class="list">
      <table align="center" cellspacing="50" [style.height]="rowHeight + 'px'" [style.line-height]="rowHeight + 'px'"
        class="list-filler1">
        <tr>
          <th>Imagen</th>
          <th>Placa</th>
        </tr>
        <tr *ngFor="let m of items">
          <td><img src="{{m.imagen}}" width="500px" height="300px" alt=""></td>
          <td>{{m.placa}}</td>
        </tr>
      </table>
    </div>-->
    
  </div>
  <div style="text-align: center; bottom: 10px; width: 100%; position: absolute;">
    <button class="btn primary-outline" (click)="showPrimera()" style="width: 30%;">
      Cancelar
    </button>
    <button class="btn primary" (click)="showComparacion()" style="width: 30%;">
      Comparar
    </button>
  </div>
</div>

<!--********************************************************************************************************************-->
<!--Tercera parte-->
<div style="width: 100%; height: 100%; text-align: center; position: fixed;" *ngIf="tercera">
  <div style="width:70%; float:left; height: 100%;">
    <h1 class="titulo">Comparación de placas</h1>
    <form action="" style="display: flex;">
      <label for="" style="margin-left: 170px;">Todas</label>
      <input type="radio" name="gender" value="male" style="display: inline-block;" checked class="check">
      <label for="" style="margin-left: 170px;">Correctas</label>
      <input type="radio" name="gender" value="female" style="display: inline-block;" class="check">
      <label for="" style="margin-left: 170px;">Incorrectas</label>
      <input type="radio" name="gender" value="other" style="display: inline-block;" class="check">
    </form>
    <br>
    <!--<div class="container" [style.height]="(items.length * rowHeight) + 'px'" class="list">
      <table align="center" cellspacing="50" [style.height]="rowHeight + 'px'" [style.line-height]="rowHeight + 'px'"
        class="list-filler">
        <tr>
          <th>Imagen</th>
          <th>Placa tomada</th>
          <th>Placa comparada</th>
        </tr>
        <tr *ngFor="let m of items; let i = index">
          <td><img src="{{m.imagen}}" width="500px" height="300px" alt=""></td>
          <td>{{m.placa}}</td>
          <td>{{m.placa}}</td>
        </tr>
      </table>
    </div>-->

    <div class="example-container mat-elevation-z8" style="width: 90%; margin-left: 50px;">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef> Imagen </th>
          <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"><img src="{{element.imagen}}" width="500px" height="300px" alt=""></td>
        </ng-container> 

        <ng-container matColumnDef="placa">
          <th mat-header-cell *matHeaderCellDef> Placa real </th>
          <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
        </ng-container>

        <ng-container matColumnDef="placaC">
          <th mat-header-cell *matHeaderCellDef> Placa comparada </th>
          <td mat-cell *matCellDef="let element"> {{element.placa}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <div style="text-align: center; bottom: 5px; width: 70%; position: absolute;">
      <button class="btn primary-outline" (click)="showPrimera()" style="width: 30%;">
        Volver a cargar datos
      </button>
    </div>
  </div>
  <div style="width:30%; float:left; height: 100%;">
    <div style="height: 250px;">
      <img style="width: 100%; height: 250px;" src="{{imagen}}" alt="">
    </div>
    <div style="height: 100%;">
      <p>Placa real: {{placaReal}}</p>
      <p>Placa corregida de OCR: </p>
      <p>Placa tomada por el algoritmo: {{placaAlgoritmo}}</p>
      <input type="text" placeholder="Corrección de placa">
      <p>Estadística de confiabilidad del algoritmo</p>
      <div id="progressbar" style="width: 90%;">
        <div>
          <p style="display: inline; color: aliceblue;">90%</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<div>
  <img style="width: 100%;" src="../assets/apartment-bed-bedroom-2082087.jpg" alt="Habitación">
</div>

<div style="margin-top: 50px; display: block; width: 100%;">
  <div style="float: left;" class="columna">
    <img style="width: 100%;" src="../assets/camera-computer-contemporary-699459.jpg" alt="">
  </div>

  <div style="float: right;" class="columna">
    <h1 class="titulo">Acerca de los espacios</h1>
    <h2 class="subtitulo">Desde 1990</h2>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
      Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
      cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
      galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
      No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
      electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la
      creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
      recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
      versiones de Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
      Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
      cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
      galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
      No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
      electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la
      creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
      recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
      versiones de Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
      Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
      cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
      galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
      No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
      electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la
      creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
      recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
      versiones de Lorem Ipsum.
    </p>
  </div>
</div>

<div>
  <img style="width: 100%;" src="../assets/apartment-bed-bedroom-2082087.jpg" alt="Habitación">
</div>

<div style="margin-top: 50px; display: block; width: 100%;">
  <div style="float: left;" class="columna">
    <img style="width: 100%;" src="../assets/camera-computer-contemporary-699459.jpg" alt="">
  </div>

  <div style="float: right;" class="columna">
    <h1 class="titulo">Acerca de los espacios</h1>
    <h2 class="subtitulo">Desde 1990</h2>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
      Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
      cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
      galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
      No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
      electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la
      creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
      recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
      versiones de Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
      Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
      cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
      galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
      No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
      electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la
      creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
      recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
      versiones de Lorem Ipsum.
    </p>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
      Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
      cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
      galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
      No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
      electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la
      creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
      recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye
      versiones de Lorem Ipsum.
    </p>
  </div>
</div>-->

<router-outlet></router-outlet>