  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
  }

  html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0px;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    width: 100%;
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #241845;
    color: #ffffff;
    font-weight: 600;
    box-shadow: 2px 2px 10px #666;
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  #div_top_hypers {
    display: inline;
  }

  #ul_top_hypers li {
    display: inline;
    list-style-type: none;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
  }

  .titulo {
    font-family: 'lato','Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    margin: 0px;
    padding: 10px;
  }

  .subtitulo {
    font-family: 'lato','Times New Roman', Times, serif;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
  }

  .columna {
    padding: 10px;
    width: 45%;
    text-align: justify;
    font-size: 18px;
    font-family: 'lato','Times New Roman', Times, serif;
    font-weight: 400;
  }

  .divider {
    height: 1px;
    background-color: #9e9e9e;
    width: 100%;
  }

  .btn {
    border: none;
    width: 50%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px; 
  }

  .primary {
    background-color: #241845;
    color: white;
  }

  .primary-outline {
    background-color: transparent;
    color: #241845;
  }

  input {
    height: 50px;
    width: 40%;
    font-size: 18px;
    border-radius: 5px;
  }

  .container {
	text-align: center;
	padding: 0px;
}

.btn-table {
  border-style: none;
}

.list {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid #241845;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.list-item {
    border-bottom: 1px solid #241845;
    background-color: #ffffff;
    box-sizing: border-box;
}

.list-filler {
    position: absolute;
    top: 0;
    right: 50px;
    width: 1px;
    box-sizing: border-box;
}

.list-filler1 {
  position: absolute;
  top: 0;
  right: 300px;
  width: 1px;
  box-sizing: border-box;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.check {
  height: 20px;
  background: #241845;
  padding: 0px;
  width: 30px;
}

#progressbar {
  background-color: gray;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div {
   background-color: #241845;
   width: 90%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  min-width: 300px;
  overflow-x: scroll;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
